/AnnoTest.class
/AnnoTest2.class
/AnnoTest3.class
/AnnoTest4.class
/Bag.class
/BagTest.class
/Book.class
/Check.class
/Comment.class
/Mapping.class
/MyAnno.class
/Notebook.class
/PencilCase.class
/Service.class
/WildCardTest.class
